In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from rapidfuzz import process, utils as fuzz_utils
GOOGLE_SHEET_MASTER_LIST = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSWbwrsqF-c---4lfw0LZWymd-f8sy8sLYkXgzh0OyeGATWwrvv7V1Mq5BcApn7F_-WYKP1KXy5shKw/pub?gid=240503925&single=true&output=csv'
GOOGLE_SHEET_URL = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSWbwrsqF-c---4lfw0LZWymd-f8sy8sLYkXgzh0OyeGATWwrvv7V1Mq5BcApn7F_-WYKP1KXy5shKw/pub?gid=240503925&single=true&output=csv'
GOOGLE_SHEET_URL_FOR_MISSING_SCHOOLS = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vSWbwrsqF-c---4lfw0LZWymd-f8sy8sLYkXgzh0OyeGATWwrvv7V1Mq5BcApn7F_-WYKP1KXy5shKw/pub?gid=761636526&single=true&output=csv'

In [133]:
master_list_schools_df = pd.read_csv(GOOGLE_SHEET_URL)
master_list_schools_df_small = master_list_schools_df.loc[master_list_schools_df["rowid"] != 0,["rowid","school","district_y","address_y","original_name_y"]]
master_list_schools_df_small['rowid'] = master_list_schools_df_small['rowid'].astype(int).astype(str)
master_list_schools_df_small

,rowid,school,district_y,address_y,original_name_y
0,306,Hawthorne High (Centinela Valley Union High),Centinela Valley Union High,4859 West El Segundo Blvd.,Hawthorne High (Centinela Valley Union High)
1,307,Lawndale High (Centinela Valley Union High),Centinela Valley Union High,14901 South Inglewood Ave.,Lawndale High (Centinela Valley Union High)
2,308,Leuzinger High (Centinela Valley Union High),Centinela Valley Union High,4118 West Rosecrans Ave.,Leuzinger High (Centinela Valley Union High)
3,310,R. K. Lloyde High (Centinela Valley Union High),Centinela Valley Union High,4951 Marine Ave.,R. K. Lloyde High (Centinela Valley Union High)
241,92,Alliance College-Ready Middle Academy 12 (Alli...,Alliance College Ready Public Schools District,131 East 50th St.,Alliance College-Ready Middle Academy 12 (Alli...
...,...,...,...,...,...
3703,3138,Bert Corona Charter High (Youth Policy Institu...,Youth Policy Institute (YPI) Charter Schools,12513 Gain St.,Bert Corona Charter High (Youth Policy Institu...
3704,3139,Monsenor Oscar Romero Charter Middle (Youth Po...,Youth Policy Institute (YPI) Charter Schools,2670 West 11th St.,Monsenor Oscar Romero Charter Middle (Youth Po...
3705,3145,YouthBuild - Hollywood (YouthBuild Charter Sch...,YouthBuild Charter Schools of Los Angeles,5941 Hollywood Boulevard,YouthBuild - Hollywood (YouthBuild Charter Sch...
3706,3147,YouthBuild - Norwalk (YouthBuild Charter Schoo...,YouthBuild Charter Schools of Los Angeles,12124 Front St.,YouthBuild - Norwalk (YouthBuild Charter Schoo...
3707,3148,YouthBuild - Palmdale (YouthBuild Charter Scho...,YouthBuild Charter Schools of Los Angeles,38626 9th St. East,YouthBuild - Palmdale (YouthBuild Charter Scho...

In [134]:
missing_schools_df = pd.read_csv(GOOGLE_SHEET_URL_FOR_MISSING_SCHOOLS)
missing_schools_joining_df = missing_schools_df[['matched_id']]
# missing_schools_df['matched_id']
# missing_schools_joining_df = missing_schools_df['matched_id']
# missing_schools_joining_df['matched_id'] = missing_schools_joining_df['matched_id'].fillna(0).astype(int).astype(str)
missing_schools_joining_df['matched_id'] = missing_schools_df[['matched_id']].fillna(0).astype(int).astype(str)
missing_schools_joining_df

<ipython-input-134-02ca3029ffea>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  missing_schools_joining_df['matched_id'] = missing_schools_df[['matched_id']].fillna(0).astype(int).astype(str)

    matched_id
0            0
1           91
2           90
3          680
4          682
..         ...
232          0
233          0
234          0
235          0
236          0

[237 rows x 1 columns]

In [135]:
inner_join_df= pd.merge(missing_schools_joining_df,master_list_schools_df_small, left_on='matched_id',right_on="rowid", how='left')
inner_join_df

,matched_id,rowid,school,district_y,address_y,original_name_y
0,0,NaN,NaN,NaN,NaN,NaN
1,91,91,Alliance Cindy and Bill Simon Technology Acade...,Alliance College Ready Public Schools District,10720 South Wilmington Ave.,Alliance Cindy and Bill Simon Technology Acade...
2,90,90,Alliance Virgil Roberts Leadership Academy (Al...,Alliance College Ready Public Schools District,2941 West 70th St.,Alliance Virgil Roberts Leadership Academy (Al...
3,680,680,Animo City of Champions Charter High (Green Do...,Green Dot Charter Schools District,9330 South Eighth Ave.,Animo City of Champions Charter High (Green Do...
4,682,682,Animo Florence-Firestone Charter Middle (Green...,Green Dot Charter Schools District,8255 Beach St.,Animo Florence-Firestone Charter Middle (Green...
...,...,...,...,...,...,...
250,0,NaN,NaN,NaN,NaN,NaN
251,0,NaN,NaN,NaN,NaN,NaN
252,0,NaN,NaN,NaN,NaN,NaN
253,0,NaN,NaN,NaN,NaN,NaN
254,0,NaN,NaN,NaN,NaN,NaN

In [136]:
output_file_name = "../data/tap_data_post_processing.csv"
inner_join_df.to_csv(output_file_name)